# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/
.env

# VSCode or IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional — if you're okay regenerating them)
# Uncomment the line below if you want to exclude migrations
# */migrations/

# Virtual environment
venv/
env/
ENV/
.venv/

# PIP
pip-log.txt
pip-delete-this-directory.txt
